

#container #main{
	background-image:url('web%20assets/Hero-Image.jpg');
	background-size:cover;
	background-repeat: no-repeat;
}

html,body{
	padding:0px;
	margin-left:-7.5px;
	margin-right:-7.5px;
}

.row {
	margin-right: 0px;
}

.container-fluid {
	padding-right: 0px;
}

#logo{
	width:15%;
	height:15%;
	padding:25px;
	margin-left:30px;
}

.navbar{
	background-color:transparent;
	border:0;
}

#topNav{
	font-size:18px;
	color:white;
	margin-top:25px;
	margin-left:600px;
	font-family: 'Lato', sans-serif;
}

li{
	padding:20px;
	font-family: 'Lato', sans-serif;
}

h1{
	color:white;
	font-size:90px;
	font-family: 'Lato', sans-serif;
}

#headline{
	padding:50px;
	text-align:center;
	margin-top:80px;
	font-family: 'Lato', sans-serif;
}

#rectangle {
	width: 97px;
	height: 17px;
	background: #ffcc33 ;
	margin:auto;
}

#tagline{
	text-align:center;
	padding:50px;
	margin-right:450px;
	margin-left:450px;
	margin-bottom:18px;
	font-family: 'Lato', sans-serif;
}

h2{
	color:white;
	font-size:27px;
	font-family: 'Lato', sans-serif;
}

.pt2{
	background-color:#ebebeb;
	margin-top:;
}

h3{
	font-size:50px;
	text-align: center;
	padding:20px;
	margin-top:90px;
	font-family: 'Lato', sans-serif;
}

#pt2txt{
	color:black;
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin-left:-275px;
}

.pt2a{
	font-size: 30px;
	font-family: 'Lato', sans-serif;
}

#pt2small{
	font-size:10px;
	font-family: 'Lato', sans-serif;
}

#pt2List{
	padding:20px;
	font-size:16px;
	font-family: 'Lato', sans-serif;
}

#redX{
	width:50%;
	height:50%;
	padding:0;
	margin-left:275px;
}

.pt3{
	background-color:#393d44;
}

#pt3h{
	color:white;
}

#pt3a{
	color:white;
	text-align:center;
	font-family: 'Lato', sans-serif;
}

.ypics{
	width:10%;
	height:10%;
	display:block;
	margin:0 auto;
}

#imgLeft{
	margin-left:325px;
	margin-top:75px;
}

#imgMid{
	margin-top:-150px;
}

#imgRight{
	margin-top:-150px;
	margin-right:325px;
}

#plus1{
	color:white;
	font-size:72px;
	margin-top:-150px;
	margin-left:525px;
	font-family: 'Lato', sans-serif;
}

#plus2{
	color:white;
	font-size:72px;
	margin-top:-111.5px;
	margin-left:865px;
	font-family: 'Lato', sans-serif;
}

.pt4{
	background-color:#f3f3f3;
	color:black;
}

#pt4h{
	color:black;
}

#pt4a{
	font-size:30px;
	color: black;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

.pt5{
	background-color:#393d44;
}

.for{
	border-radius:10px;
	height:70px;
	margin-left:400px;
	margin-right:-400px;
}

#em{
	width:400px;
	background:none;
}

#sub{
	width:200px;
	background:white;
}

.hire{
	font-size:64px;
	font-family: 'Lato', sans-serif;
	text-align: center;

#tabstyling li {
	margin-left: -45px;
}

#tabstyling {
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#tabstyling li > a {
	font-family: 'Lato', sans-serif;
	font-weight:400;
	color: #30337e;
	font-size:20px;
	border-color:#30337e;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-width: 2px;
}

#tabstyling li.active> a {
	background-color: #30337e;
	font-size: 20px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight:300;
}
.subs{
	font-family: 'Lato', sans-serif;
	color: white;
	font-size:25px;
}

.tea{
	width:150px;
	height:150px;
	padding:25px;
}

#team1{
	margin-left:500px;
}

#team2{
	margin-left:600px;
}

.tabz{
	margin-left:
	200px;
}