#container #main{
	background-image:url('web%20assets/Hero-Image.jpg');
	background-size:cover;
	background-repeat: no-repeat;
}

html,body{
	width: 100.503%;
	padding:0px;
	margin-left:-7.5px;
	margin-right:-7.5px;
}

.row {
	margin-right: 0px;
}

.container-fluid {
	padding-right: 0px;
}

#logo{
	width:15%;
	height:15%;
	padding:25px;
	margin-left:30px;
}

.navbar{
	background-color:transparent;
	border:0;
}

#topNav{
	font-size:18px;
	color:white;
	margin-top:25px;
	margin-left:600px;
	font-family: 'Lato', sans-serif;
}

li{
	padding:20px;
	font-family: 'Lato', sans-serif;
}

h1{
	color:white;
	font-size:90px;
	font-family: 'Lato', sans-serif;
}

#headline{
	padding:50px;
	text-align:center;
	margin-top:80px;
	font-family: 'Lato', sans-serif;
}

#rectangle {
	width: 97px;
	height: 17px;
	background: #ffcc33 ;
	margin:auto;
}

#tagline{
	text-align:center;
	padding:50px;
	margin-right:450px;
	margin-left:450px;
	margin-bottom:18px;
	font-family: 'Lato', sans-serif;
}

h2{
	color:white;
	font-size:27px;
	font-family: 'Lato', sans-serif;
}

.pt2{
	background-color:#ebebeb;
	margin-top:;
}

h3{
	font-size:50px;
	text-align: center;
	padding:20px;
	margin-top:90px;
	font-family: 'Lato', sans-serif;
}

#pt2txt{
	color:black;
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin-left:-275px;
}

.pt2a{
	font-size: 30px;
	font-family: 'Lato', sans-serif;
}

#pt2small{
	font-size:10px;
	font-family: 'Lato', sans-serif;
}

#pt2List{
	color: #1a1a1a;
	padding:20px;
	font-size:18px;
	font-family: 'Lato', sans-serif;
}

#redX{
	width:50%;
	height:50%;
	padding:0;
	margin-left:275px;
}

.pt3{
	background-color:#393d44;
}

#pt3h{
	color:white;
}

#pt3a{
	color:white;
	text-align:center;
	font-family: 'Lato', sans-serif;
}

.ypics{
	width:10%;
	height:10%;
	display:block;
	margin:0 auto;
}

#imgLeft{
	margin-left:325px;
	margin-top:75px;
}

#imgMid{
	margin-top:-150px;
}

#imgRight{
	margin-top:-150px;
	margin-right:325px;
}

#plus1{
	color:white;
	font-size:72px;
	margin-top:-150px;
	margin-left:525px;
	font-family: 'Lato', sans-serif;
}

#plus2{
	color:white;
	font-size:72px;
	margin-top:-111.5px;
	margin-left:865px;
	font-family: 'Lato', sans-serif;
}

.pt4{
	background-color:#f3f3f3;
	color:black;
}

#pt4h{
	color:black;
	font-weight: 1000;
}

#pt4a{
	font-size:30px;
	color: black;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

.pt5{
	background-color:#393d44;
}

.container {
	margin-left: 75px;
}

.for{
	border-radius:10px;
	height:70px;
	margin-left:400px;
	margin-right:-400px;
}

#em{
	width:400px;
	background:none;
}

#sub{
	width:200px;
	background:white;
}

.pt6 {
	background-color: #ebebeb;
}

.hire{
	font-weight: 100;
	font-size:64px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
#tabstyling li {
	margin-left: -45px;
}

#tabstyling {
	margin-left: 395px;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#tabstyling li > a {
	margin-right: 3px;
	font-family: 'Lato', sans-serif;
	font-weight:600;
	color: black;
	font-size:20px;
	border-color:#0047a4;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-width: 2px;
}

#tabstyling li.active> a {
	background-color: #0047a4;
	font-size: 20px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight:300;
}
.subs{
	font-family: 'Lato', sans-serif;
	color: white;
	font-size:25px;
}

#sub1{
	margin-left:260px;
}

#sub2{
	text-align:center;
	margin-top:-44px;
}

#sub3{
	text-align:right;
	margin-right:290px;
	margin-top:-44px;
}

.subsub{
	font-family: 'Lato', sans-serif;
	color: #e2e2e3;
	font-weight: 100;
	font-size: 17px;
}

.tea{
	width:150px;
	height:150px;
	padding:25px;
}

#team1{
	margin-left:500px;
}

#team2{
	margin-left:600px;
}

.tabz{
	margin-left:
	200px;
}

.verticalLine{
  width: 3px; 
  background-color: white; /* Line color */
  height: 100%; 
  float: left; 
  margin-left:314px;
}

.horLine{
	width:220px;
	background-color:white;
	height:3px;
}

#hor1{
	margin-right: 282px;
	margin-left: -16px;
	margin-top: 107px;
	float:right;
}
#hor2{
	margin-left: -1px;
	margin-top: 107px;
	float:left;
}

.alignment {
	margin-bottom: 0px;
	margin-left: 475px;
}

#hor3{
	text-align: center;
	margin-left: 400px;
	margin-top: 66px;
	margin-bottom: 99px;
	width:660px;
	background-color:#6891c6;
	height:3px;
}

#hor4{
	float: right;
	margin-right: -31px;
	margin-top: 104px;
	margin-bottom: 99px;
	width:150px;
	background-color: white;
	height:3px;
}

#hor5{
	
	margin-left: -31px;
	margin-top: 104px;
	margin-bottom: 99px;
	width:150px;
	background-color:white;
	height:3px;
}

#career {
	background-color: #393d44;
	margin-left: 42.58%;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	border: none;
}

#line2{
	margin-left:-284px;
	margin-right: 350px;
	margin-top: 0px;
	float:right;
}

.yellowTxt{
	text-align: center;
	font-size: 110px;
	color:#ffcc33;
	margin-top:30px;
}

.belowtext {
	color: #e2e2e3;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 25px;
	font-weight: 100;
}

#susPic{
	width:40%;
	height:40%;
	float:right;
	float:top;
	margin-right:250px;
	padding-left:30px;
	margin-top:-250px;
}

#susPic2{
	width:40%;
	height:40%;
	float:right;
	float:top;
	margin-right:250px;
	padding-left:30px;
	margin-top:-275px;
}

#susHead{
	padding-top:100px;
	padding-left:300px;
	font-family: 'Lato', sans-serif;
	font-size:42px;
}

#susBod{
	padding-bottom:100px;
	padding-left:300px;
	font-family: 'Lato', sans-serif;
	font-size:18px;
}
#career{
	float:bottom;
}

.founder {
	float: left;
	margin-top: -20px;
	margin-left: -290px;
	width: 200px;
}

.teampara {
	color: #d8d8d8;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	margin-top: 90px;
}

.teampara1 {
	color: #d8d8d8;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 500;
}

.teampara2 {
	color: white;
	margin-top: -10px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 100;
}

.pt7 {
	background-color: #393d44;
}

.pt7para {
	color: #d8d8d8;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

#socialbottom {
	margin-left: 672px;
	margin-bottom: 10px;
}

#social {
	width: 10%;
	margin-left: -35px;
}

#social img {
	width: 30px;
}

.founderpara {
	float: left;
	color: #d8d8d8;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: center;
	margin-left: 210px;
	font-weight: 500;
}
